<div id="banner">
    <div class="container_24">
    
        <div class="grid_24">
            <h2 class="osans">
                <span class="thin">Zeige anderen</span> <span class="bold">was du kannst</span><br/>
                <span class="thin">und</span> <span class="bold">was du besitzt.</span>
            <br/>
            <br/>
        </div>
    
    </div>
</div>
