<div id="banner">
    <div class="container_24">
    
        <div class="grid_24">
            <!--
            <h2 class="osans">
                <span class="thin">Zeige anderen</span> <span class="bold">was du kannst</span><br/>
                <span class="thin">und</span> <span class="bold">was du besitzt.</span>
            </h2>
            <br/>
            <br/>
            -->
            <div id="banner_content"></div>
        </div>
    
    </div>
</div>

<div id="magic_slogan">
    <div id="slogan_content">
        
        <div class="slogan_tabs">
            <%= link_to "bla", '#' %>
            <%= link_to "bla", '#' %>
            <%= link_to "bla", '#' %>
        </div>
    </div>
</div>

<div id="start_tab">
    <div id="start_tab_content"></div>
    <div class="clearfix"></div>
</div>

<div id="bekannt_aus">
    
</div>
