<div class="container_24">
    <div class="grid_24">
        <div id="magic_nav">
            
            <div id="user_pic">
                <%= image_tag "marco.png", :width => 30, :height => 30 %>
            </div>
            
            <div id="user_info">
                <span class="name">Marco Sebald</span>
                <span class="proffession">Gründer bei Berlinmagic</span>
            </div>
            
            <ul id="user_navigation">
                <li><%= link_to 'bla', '#' %></li>
                <li><%= link_to 'bla', '#' %></li>
                <li><%= link_to 'bla', '#' %></li>
            </ul>
            
            <div class="clearfix"></div>
        </div>
    </div>
</div>  