@import "bourbon";
@import "app_stuff";
@import "boiler1";
@import "grid24";
@import "jquery.ui.all";
@import "fonts";

// # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

html, body {
	background: #f2f1f0;
	color: #333;
}

#headline { 
	position: relative;
	display: block;
	margin: 0;
	padding: 10px 0;
	height: 20px;
	background: #0b44cd;
	
	#magic_search {
		width: 300px;
		float: right;
	}
	h1 {
		font-size: 18px;
		color: #fff;
		font-weight: bold;
		display: block;
		padding: 0;
		margin: 0;
		line-height: 20px;
		text-shadow: 1px 0 1px #abb5cd;
	}
}


#magic_nav {
	background: #fff;
	border: 1px solid #ccc;
	display: block;
	padding: 5px;
	margin: 0 0 20px;
	@include border-radius( 0 0 3px 3px );
	
	#user_pic {
		display: block;
		width: 30px;
		height: 30px;
		float: left;
		margin: 0 10px 0 0;
		border: solid 1px #ccc;
		@include border-radius( 3px );
	}
	#user_info {
		max-width: 300px;
		display: block;
		float: left;
		span {
			display: block;
			&.name { font-size: 15px; font-weight: bold; line-height: 17px;}
			&.proffession { font-size: 13px; font-weight: normal; line-height: 15px; }
		}
	}
	#user_navigation {
		list-style:none;
		display: block;
		float:right;
		padding: 0;
		margin: 0;
		li {
			float: left;
			display: block;
			padding: 0; margin: 0;
			border: solid 1px #ccc;
			&:first-child { @include border-radius( 5px 0 0 5px ); }
			&:last-child { @include border-radius( 0 5px 5px 0 ); }
			a {
				display: inline-block;
				padding: 5px 15px;
				margin: 0;
				text-decoration: none;
			}
		}
	}
}




#aside_nav {
	display: block;
	padding: 0 0 150px;
	margin: 0;
	list-style: none;
	overflow: hidden;
	position: relative;
	
	li {
		display: block;
		a {
			text-decoration: none;
			display: block;
			padding: 5px 10px;
			border-top: solid 1px #ccc;
			border-bottom: solid 1px #ccc;
			&.aktiv {
				background: #fff;
			}
		}
	}
	
	&:after {
		content:""; position:absolute; z-index: 55;
		top:10px; right: -100px; bottom: 10px;
		width: 100px;
		/* background: image-url('desk_bgs/alu.jpg') left top repeat ; */
		background: transparent;
		@include box-shadow( -7px 0 5px 0 rgba(0,0,0,.10) );
		@include elipse( 40, 900 );
	}
}


.market_box {
	display: block;
	border: solid 1px #ccc;
	background: #fff;
	padding: 10px;
	@include border-radius( 5px );
}


input[type="submit"], input[type="button"], a.button, a.red_button {
	display:block; /* or inline-block */
	@include border-radius( 3px );
	padding: 5px 15px;
	margin: 0;
	text-align: center;
	text-decoration: none;
	border: solid 1px #006699;
	@include linear-gradient(#0099cc, #006699);
	@include border-radius( 3px );
	@include box-shadow( inset 0 0 3px 2px rgba(255,255,255,.42), inset 0 1px 0 0 rgba(255,255,255,.70), 0 2px 2px 0 rgba(0,0,0,.50) );
	color: #fff !important;
	font-size: 16px;
	font-weight: bold;
}

table.form {
	width: 90%;
	margin: 10px auto;
	text-align: left;
	th,td {
		padding: 5px;
	}
	th { width: 200px; }
	input, textarea, select {
		@include border-radius( 3px );
		border: solid 1px #ccc;
		outline: none;
		padding: 5px;
		line-height: 18px;
		background: #f2f1f0;
		width: 300px;
	}
	label {
		line-height: 28px;
	}
	select {
		height: 28px;
		width: 312px;
	}
	.date {
		select {
			width: auto;
		}
	}
}

form.magic_login_form {
	text-align: right;
	padding: 0; margin: 0;
	input {
		// float: left;
		text-align: left;
		display: inline-block;
		padding:0 5px;
		margin: 0 0 0 10px;
		@include border-radius( 3px );
		border: solid 1px #ccc;
		outline:none;
	}
	input[type="submit"] {
		padding: 0 5px;
		text-size: 13px;
		line-height: 18px;
	}
}

#banner {
	background: #444;
	h2 {
		color: #fff;
	}
}

// # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # #

@import "boiler2";